button {
    display: inline-block;
    padding: 5px 10px;
    background-color: royalblue;
    color: white;
    border-radius: 10px;
    font-size: 100px;
    transition: font-size 1s;
}
button:hover {
    background-color: teal;
}




@media ( max-width: 768px ) {

    

}